:root {
    --clr-softorange: 22, 65%, 57%;
    --clr-brightorange: 21, 94%, 75%;
    
    --clr-darkgrey: 0, 0%, 95%;
    --clr-lightgray: 0, 0%, 98%;
    --clr-white: 0, 0%, 100%;
    
    --clr--almostblack: 0, 0%, 6%;
    --clr-black: 0, 0%, 0%;
    }